
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: large;
}
body{
    padding: auto;
    margin: auto;
    background-color: rgba(184, 246, 223, 0.8)!important;


}

#cont {
    border: 1px solid;
    background-color: darkorange;
    color: rgb(232, 233, 235);
    /* margin-top: ; */

}
#cont #role{
    width: 200px;
}
  #cont .role{
    /* display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */

  }
  #cont .center{
    display: flex;
    justify-content: center;
    align-items: center;
    

  
  }
  #cont .btn{
    width: 20%;
    background-color: rgb(31, 238, 169);
  }
  .error-message {
    color: red;
    font-size:large;
    font-weight: 400;
}
.hidden {
    display: none;
}

