:root{
<<<<<<< HEAD
    --navbg:darkorange;
    --bodybg:rgba(127, 255, 212, 0.8);
    --txtbg:rgb(6, 250, 169);

}
body{
    margin: 0;
    padding: 0;

   
}
.bg-image{
    position: relative;
    width: 100%;
    height: 650px;
  
    background-image: url(doctor.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

}
.over{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:var(--bodybg);


}
nav{
    background-color:var(--bodybg) ;
    font-size: larger;
    font-weight: 500;
    color: white;
   
}
nav .li-center{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav .li-center li{
    list-style: none;
    padding: 10px;
    margin-left: 3rem;
    
}
nav #care{
    color: var(--navbg);
}
nav .nav li a{
    text-decoration: none;
    background-color:var(--navbg);
    color: white;
    padding: 4px;
    border-radius: 5px;
}
nav .li-center li a{
    text-decoration: none;
    color: white;
}
.body-content{
    display: flex;
     flex-direction: row;
     margin-top: 10rem;
     justify-content: space-around;
     padding: 20px;
     color: white;
}
.wrap-txt{
   padding: 10px;
   font-size: x-large;
   word-wrap: break-word;
   text-align: justify;
    z-index: 1;
    margin-left: 5rem;
}
 .wrap-txt .text-large {
    font-size: xx-large;
}
.wrap-txt .text-small{
    word-wrap: break-word;
    text-align: justify;

    font-size: large;
}
.wrap-txt .btn-see{
    padding: 2px;
    color: white;
    background-color: var(--navbg);
    width: 20%;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    box-shadow: 2px 2px ;
    
}
.wrap-txt .btn-see a{
    text-decoration: none;
    color: white;
}


.body-content .form{
    width: 30vw;
    margin-right: 5rem;
    margin-top: -5rem;
}
.body-content form{
    padding: 10px;
    font-size: 30px;
    
}
.body-content form input{
     margin: 10px;
     padding: 10px;
     margin-top: 20px;
     background-color: rgba(127, 255, 212, 0.1); /* Semi-transparent background */
     color: black; /* Text color */
     color: var(--bodybg);
}
 .card-header{
    background-color: white !important;
    color:rgb(10, 252, 171);
    font-size: large;
    font-weight: 1000;
   
}
.body-content form input::placeholder {
    font-size: large;
    font-weight: 400;
    color:rgb(6, 255, 172); /* Visible placeholder text color */
    opacity: 1; /* Ensure full opacity for placeholder text */
}
.body-content form .btn{
    width: 26vw;
    background-color: rgb(10, 248, 169);
    color: white;
    margin-left: 0.9rem;
}

.services-section{
    display: flex;
    flex-direction: row;
    padding: 10px;
    font-size: l;
    font-weight: 400;
}
.services-section .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.services-section .box .box1{
    text-align: center;
height: 40vh;
width: 50vw;
    border: 1px solid;
    padding: 10px;
    margin: 2rem ;
  box-shadow: 2px 1px 4px 1px ;

}
.services-section .box .box1 .icon{
    font-size: xx-large;
    font-weight: 800;
    color: rgb(6, 250, 169);
}
.services-section .box .box1 .icon, .icon1-title, .link-div{
 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

}
.services-section .box .box1 .link-div {
    background-color: rgb(6, 250, 169);
    color: white;
    padding: 5px;
    width: 10vw;
    margin-left:20%;
    margin-top: 2rem;
    cursor: pointer;


}
.services-section .box .box1 .link-div a {
    text-decoration: none;
    color: white;

}

.image-div1 {
    float: right;
    margin-right: 20px;
    width: 30vw;
    height: 30vh;
  }
  
  .image-div1 img {
    width: 100%;
    height: auto;
  }
  .about-txt #p{
    word-break: break-all;
    /* overflow: hidden; */
  }

.image-div2 {
    float: left;
    margin-left: 20px;
    width: 30vw;
    height: 30vh;
  }
  
  .image-div2 img {
    width: 100%;
    height: auto;
  }
  .about-txt2 #p{
    word-break: break-all;
  
    /* overflow: hidden; */
  }
  .about-txt2 {
    word-break: break-all;
    margin-left: rem;
    text-align: right;
    /* overflow: hidden; */
  }
  .wrap-section p:last-child {
  }
  .choose{
    display: flex;
    flex-direction: row;
    padding: 10px;
  }
  .choose  .choose-image img{
    height:65vh;
    width: 30vw;
    margin-top: 6rem;
   
  }
  .choose  .choose-image{
    height: 30vh;
    width: 30vw;
  
  }
  .wrap-item{
    
    width: 50vw;
    float: right;
    margin-top: -8rem;
    padding: 10px;
  }
  .wrap-item  .item-cont .wrap-item1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;

  }
  .wrap-item  .item-cont .wrap-item1 .span {
    padding: 20px;
    box-shadow: 2px 1px 4px 0;

    font-size: x-large;
    

   
    align-items: center;
    justify-content: center;
}
.wrap-item  .item-cont .wrap-item1 .span #choose-icon{

    color: var(--bodybg);
}
.staffs{
    display: flex;
   
  margin-left: 5rem;
    margin: 10px;
}
  .staffs .card{
    margin: 20px;
    margin-left: 5rem;
    box-shadow: 2px 2px 2px 0;
  }
  
.summary{
    display: flex;
    padding: auto;
    flex-direction: row;
    background-color: rgba(127, 255, 212, 0.2);
    
   
}
.summary .cont{
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-evenly;
    
}
.summary .cont1 h6{
    font-size: large;
    font-weight: 800;
    color: var(--txtbg);

}
.summary .cont1 h6 span{
    color: var(--navbg);

}
.summary .cont .about-summary h6{
    font-size: large;
    font-weight: 800;
    color: var(--txtbg);
}

.summary .cont .about-summary ul li{
    padding: 10px;
    list-style: none;
}
.summary .cont .about-summary ul li a{
    text-decoration: none;
    color: black;
}
.footer{
    background-color: var(--txtbg);
    color: white;
}
.footer footer{
  margin-left: 10rem;  
}

.footer .footer-icon {
    display: flex;
   justify-content: end;
   margin-right: 10rem;
  
}
.footer .footer-icon #footer-icon{
    margin-left: 5rem;
    margin-top: -1rem;
    
  
}
=======
    --body-bg: rgba(127,252,212, 0.1) ;
    --text-bg:orange;
    --box1-bg:#b8860B;
    --box2-bg:#DC143c;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
body{
    background-color: var(--body-bg)!important;
  
}
nav ul {
        
    padding: 20px;
    justify-content: end;
   
}
nav {
position: relative;

    
}
nav .container .collapse ul {
    position: absolute;
    left: 50%;
    padding: 10px;
 
}
nav .container .collapse ul li a{
    color:white;
}
nav .container .collapse ul li .reg{
    background-color: var(--box1-bg);
    color:white;
}
nav .container .collapse ul li .sub{
    background-color: var(--box2-bg);
    color:white;
}
nav .container .collapse ul li{
    margin-left:2rem ;
    padding: 10px;
    
}
.slide {
    width: 100vw;
    background-color: #DC143c;
  
    
  
   
}

.carousel-inner{
    background-color: #b8860B;
    overflow: hidden;
    height: 400px;
}
.slide img{
    height: 100vh;
    /* width: 100%; */
  overflow: hidden;

  
    
  
   
}
.services-intro .intro-txt h2 {
    color: var(--text-bg);
    
}
.services-intro{
    margin-top: 5rem;
    padding: 5px;
}
.categories{
    padding: 10px;
    margin: 10px;
    align-items: center;
    align-content: center;
    width: 100%;
    font-size: large;
    margin-top: 5rem;
}
.title h4{
    margin-bottom: 3rem;
    color: var(--text-bg);
}
.categories .wrap-boxes .box1 i{
    padding: 20px;
}
.categories .wrap-boxes .box-orange{
    background-color: var(--box1-bg) !important;
    color: white;
}
.categories .wrap-boxes .box-red{
    background-color: var(--box2-bg) !important;
    color: white;
}
.categories .wrap-boxes .box1{
    width: 300px;
    height: 300px;
    border-radius: 5%;
    box-shadow: 2px 2px 4px  2px #ddd;
    background-color: var(--body-bg);
    align-items: center;
    align-content: center;
   
}
.categories .wrap-boxes{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4,1fr);

}
.container .top-provider{
    margin-top: 8rem;
}
.container .top-provider .text-center h4{
    margin-bottom: 5rem;
    color: var(--text-bg);
  
}
.sell img{
    background-color: var(--body-bg);
    margin-top: 5rem;
}
.top-provider .box-content .image-txt .book {
    background-color: #DC143c !important;
    color: white;
    padding: 5px;

}
.top-provider .box-content .image-txt .book a {
    text-decoration: none;
    color: white;
}
.top-provider .box-content{
    width: 300px;
    height: 450px;
    border-radius: 5%;
    box-shadow: 2px 2px 4px  2px #ddd;
    background-color: var(--body-bg);
    align-items: center;
    align-content: center;
    
}
.top-provider .wrap-boxes{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4,1fr);

}
.top-provider .box-content .image-div {
   
    padding: 10px;
}
.top-provider .box-content .star-icon{
    padding: 10px;
  
    margin: 5px;
   
}
.top-provider .box-content .star-icon .fa-star {
    padding: 10px;
  color: var(--text-bg);
   
   
}
.top-provider .box-content .star-icon .fa-solid {
 
  color: var(--text-bg);
   
   
}
.top-provider .box-content .image-div img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;

}
 .btn-div a{color: white;
text-decoration: none;
font-size: large;
font-weight: 400;
cursor: pointer;
}
 .btn-div{
    margin-top: 10px;
    padding: 10px;
    background-color: var(--box1-bg);
}
.summary {
    padding: auto;
    margin: auto;
    background-color: var(--box1-bg);
 
}
.summary .cont{
    display: grid;
    gap: 10rem;
    grid-template-columns: repeat(4,1fr);
    margin-left: 4%;
    margin-top: 5%;
    color: white;

}
.summary .cont h6{
    color: var(--box2-bg); 
    margin-top: 20px;
    margin-left: 5%;
    font-size: x-large;
    font-weight: 600;
}
.summary .cont ul li a:hover{
    letter-spacing: 0.5px;
    border-bottom: 2px solid var(--box2-bg);
}
.summary .cont ul li a{
    color: white;
    text-decoration: none;
}
.summary .cont ul li{
    list-style: none;
   padding: 5px;
   font-size: larger;
   font-weight: 400;
}
.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}
@media (max-width:1357px) {
    .categories .wrap-boxes{
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(3,1fr);

    
    }
    .top-provider .wrap-boxes{
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(3,1fr);
    
    }
    nav {
        position: relative;
        
            
        }
        nav .container .collapse ul {
            position: absolute;
            left: 40%;
            padding: 10px;
         
        }
    
}
@media (max-width:1089px) {
    .categories .wrap-boxes{
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2,1fr);

    
    }
    .top-provider .wrap-boxes{
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2,1fr);
    
    }
    nav {
        position: relative;
        
            
        }
        nav .container .collapse ul {
            position: absolute;
            left: 30%;
            padding: 10px;
         
        }
    
}
@media (max-width:859px) {
    .categories .wrap-boxes{
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2,1fr);

    
    }
    .top-provider .wrap-boxes{
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2,1fr);
    
    }
    nav {
        position: relative;
        
            
        }
        nav .container .collapse ul {
            position: absolute;
            left: 28%;
            padding: 10px;
            font-size: small;
         
        }
        .summary .cont{
            display: grid;
            gap: 2rem;
            grid-template-columns: repeat(2,1fr);
            margin-left: 2%;
            margin-top: 5%;
            color: white;
        
        }
        .summary .cont h6{
            color: var(--box2-bg); 
            margin-top: 20px;
            margin-left: 5%;
            font-size: x-large;
            font-weight: 600;
        }
        .summary .cont ul li a:hover{
            letter-spacing: 0.5px;
            border-bottom: 2px solid var(--box2-bg);
        }
        .summary .cont ul li a{
            color: white;
            text-decoration: none;
        }
        .summary .cont ul li{
            list-style: none;
           padding: 2px;
           font-size: medium;
           font-weight: 400;
        }
        .footer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background-color: black;
            color: white;
        }
    
}
@media (max-width:750px) {
    .categories .wrap-boxes{
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2,1fr);

    
    }
    .categories .wrap-boxes .box1{
      width: 200px;

    
    }
    .top-provider .wrap-boxes{
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2,1fr);
    
    }
 
    .top-provider .wrap-boxes .box-content .image-div img{
        width: 100px;
        height: 100px;
    
    
    }
    .top-provider .wrap-boxes .box-content {
        width: 200px;
        font-size: medium;

    
    
    }
    
    nav {
        position: relative;
        
            
        }
        nav .container .collapse ul {
            position: absolute;
            left: 28%;
            padding: 10px;
            font-size: x-small;
         
        }
        .top-provider .box-content .star-icon .fa-star {
            padding: 2px;
          font-size: medium;
           
           
        }
        .summary .cont{
            display: grid;
            gap: 2rem;
            grid-template-columns: repeat(2,1fr);
            margin-left: 2%;
            margin-top: 5%;
            color: white;
        
        }
        .summary .cont h6{
            color: var(--box2-bg); 
            margin-top: 20px;
            margin-left: 5%;
            font-size: x-large;
            font-weight: 600;
        }
        .summary .cont ul li a:hover{
            letter-spacing: 0.5px;
            border-bottom: 2px solid var(--box2-bg);
        }
        .summary .cont ul li a{
            color: white;
            text-decoration: none;
        }
        .summary .cont ul li{
            list-style: none;
           padding: 2px;
           font-size: medium;
           font-weight: 400;
        }
        .footer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background-color: black;
            color: white;
        }
    
}
>>>>>>> ef55d82 (committing workers connect  first time)
