:root{
    --body-bg: white;
    --index-bg: rgba(127,252,212, 0.1) ;
    --text-bg:orange;
    --box1-bg:#b8860B;
    --box2-bg:#DC143c;
}


.slide .next-btn{
    padding: 5px;
    width: 5%;
    background-color: #b8860B;
    color: white;
    outline: none;
  box-sizing: border-box;

}
.slide .reg-btn{
padding: 5px;
background-color: var(--box1-bg);
width: 20%;
color: white;

}
.slide .log-btn{
padding: 5px;
background-color:var(--box2-bg);
width: 10%;
color: white;

}