<div class="col-12 col-md-3 col-lg-2 sidebar">
    <div id="user">
        
    </div>
    <!-- including sidebar -->
    <ul class="nav flex-column cont">
      
        <li class="nav-item"><a class="nav-link active" href="/admin/dashbord">HOME</a></li>
        <li class="nav-item"><a class="nav-link active" href="#">Profile</a></li>
    
        <li class="nav-item"><a class="nav-link" href="/admin/reg/vendors/page" id="">Registered Vendors</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/verified/vendors/page" id="">Verified Vendors</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/booked/vendors/page" id="#">Booked Vendors</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Notifications</a></li>
    </ul>
</div>