<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>dashbord</title>
  <script src="https://kit.fontawesome.com/56adb67a5b.js" crossorigin="anonymous"></script>
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/labTech.css">
  </head>
  
      <body>
  
        <nav class="navbar navbar-expand-lg ">
            <div class="container">
                <h1 style="padding: 10px; font-size: larger;">Health <span id="care"> Care</span></h1>
                <ul class="justify-content-center li-center ">
                    <!-- <li class="nav-item"> <a href="#">Services</a>  </li>
                    <li class="nav-item"> <a href="#">About Us</a>  </li>
                    -->
                 
    
                </ul>
                <!-- <img src="logo" alt="logo"> -->
                <ul class="nav justify-content-end">
                 
                    <li class="nav-item" id="log-out">
                        <a href="">Log Out</a>
                    </li>
                </ul>
            </div>
        </nav>
      
        <div class="container-fluid">
          <div class="row">
              <div class="col-12 col-md-3 col-lg-2 sidebar">
                  <!-- including admin sidebar -->
                  <ul>
                    <li class="active">
                      <a href="#" aria-current="page">Home</a>
                    </li>
                    <li>
                      <a href="#">About
                        My Profile
                      </a>
                    </li>
                    <li>
                      <a href="#">Purchase Card</a>
                    </li>
                    <li>
                      <a href="#">Test Results

                      </a>
                    </li>
                    <li>
                      <a href="#">Previous cards</a>
                    </li>
                  </ul>
                  <!-- including admin sidebar -->
              </div>
               <div class="wlc-txt text-center">
                <h1> Welcome to Our Hospital  dashbord</h1>
               </div>
              <div class="wrap-table">
                <table class=" table table-strip table-hover">
                  <thead>
                    <tr>
                      <th>S/N</th>
                      <th>Candidate Name</th>
                      <th>Diagonse illness</th>
                      <th> Asigned Doctor</th>
                      <th> Treatment Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>comming</td>
                      <td>comming</td>
                      <td>comming</td>
                      <td>comming</td>
                    </tr>
                  </tbody>
                
                </table>

              </div>
             
              </div>
              
              </div>
              

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const navItems = document.querySelectorAll('ul li');
      const active =document.querySelector('.active')

      navItems.forEach(item => {
        item.addEventListener('mouseover', () => {
          item.classList.add('active');
          active.classList.remove('active');
          active=item;
          
        });
        item.addEventListener('mouseout', () => {
          if (item!==active) {
            item.classList.remove('active' )
            
          }
          active.addEventListener('mouseover',()=>{
            active.classList.add('active');
          })
          
        });
      });
    });
  </script>
</body>
</html>